.overviewContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  .numberContainer {
    background-color: var(--card-bg-color);
    border-radius: 2rem;
    padding: 2rem;
    color: var(--card-text-color);
    display: flex;
    flex-direction: row;
    width: 100%;
    .numberItem {
      width: 100%;
      text-align: center;
      .number {
        font-size: 3.2rem;
        font-weight: 600;
        &::before {
          content: "$";
          color: grey;
          font-size: 1rem;
        }
      }
    }
  }
}
