.overviewContainer {
  background-color: var(--card-bg-color);
  border-radius: 2rem;
  padding: 2rem 1.5rem;
  color: var(--card-text-color);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .numberContainer {
    display: flex;
    flex-direction: row;
    .numberItem {
      width: 100%;
      text-align: center;
      .number {
        font-size: 3.2rem;
        font-weight: 600;
        &::before {
          content: "$";
          color: grey;
          font-size: 1rem;
        }
      }
    }
  }
  .chartContainer {
    width: 100%;
    height: 8px;
    border-radius: 8px;
    background-color: grey;
  }
}
