.signInContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  align-items: center;
  position: relative;
  height: 100dvh;
  .title {
    & h1 {
      padding: 0;
      margin: 0;
    }
    padding-bottom: 1rem;
  }
  .illustration {
    position: absolute;
    top: -8rem;

    z-index: -1;
  }
  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    .field {
      display: flex;
      flex-direction: column;
      gap: 0.4rem;
      & label {
      }
      & input {
        padding: 16px;
        border-radius: 1rem;
        border: 1px solid var(--card-border-color);
        background-color: transparent;
        color: var(--canvas-text-color);
      }
    }
    & button {
      padding: 16px;
      border-radius: 1rem;
      border: none;
      font-size: 1rem;
      font-weight: 400;
      background-color: var(--card-bg-color);
      color: var(--card-text-color);
    }
  }
}
