@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--canvas-text-color);
  background-color: var(--canvas-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color variables */

  /* Canvas */
  --canvas-bg-color: #181818;
  --canvas-text-color: #ffffff;

  /* Card */
  --card-bg-color: #ffffff;
  --card-text-color: #181818;
  --card-secondary-text-color: #3e3e3e;
  --card-border-color: #e8e8e8;

  --card-cta-bg-color: #181818;
  --card-cta-text-color: #ffffff;

  /* Color */
  --label-blue: #94c4ff;
  --label-yellow: #fdc964;
  --label-pink: #f1aaa6;
  --label-red: #ea7f98;
  --label-teal: #a1e5c8;
  --label-purple: #a1a7e5;
  --label-lemon: #c4ed89;
  --label-grey: #d2d2d2;
  --label-purplepink: #f095d7;
  --label-lightpurple: #cfdafd;
  --label-green: #85df9c;
  --label-darkgrey: #aeaeae;

}

body {
  padding: 0;
  margin: 0;
}
