@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--canvas-text-color);
  background-color: var(--canvas-bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Color variables */

  /* Canvas */
  --canvas-bg-color: #181818;
  --canvas-text-color: #ffffff;

  /* Card */
  --card-bg-color: #ffffff;
  --card-text-color: #181818;
  --card-secondary-text-color: #3e3e3e;

  /* Color */
  --label-blue: #64aafd;
  --label-yellow: #fdc964;
  --label-pink: #f1aaa6;
  --label-red: #d76681;
  --label-teal: #a1e5c8;
  --label-purple: #a1a7e5;
  --label-darkblue: #2f67ac;
  /* --label-blue:#64AAFD;
  --label-blue:#64AAFD;
  --label-blue:#64AAFD; */
}

body {
  padding: 0;
  margin: 0;
}
