.navContainer {
  width: 100%;
  padding: 0;
  margin: 1rem 0;
  height: 40px;
  position: relative;
  overflow-x: hidden;
  .nav {
    display: flex;
    gap: 4rem;
    overflow: hidden;
    position: absolute;
    left: 40vw;
    bottom: 0;
    transition: left 0.3s ease;
  }
  ul {
    display: flex;
    gap: 4rem;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      a {
        text-decoration: none;
        color: var(--canvas-text-color);
        &.active {
          border-bottom: 1px solid var(--canvas-text-color);
        }
      }
    }
  }
}
